.header {
    background-color: #fffefc;
    padding:  0;
    font-family: 'Open Sans', sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 24px;
    margin: 0;
}


.nav {
    flex: 1; 
    display: flex;
    justify-content: center; 
    font-family: 'Open Sans', sans-serif;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav ul li {
    position: relative; /* Necessary for the dropdown */
    margin-right: 15px; /* Adjust the spacing */
}

.nav ul li:last-child {
    margin-right: 0;
}

.nav ul li a {
    text-decoration: none;
    color: white; /* Link color */
    font-size: 17px; /* Font size */
    padding: 10px; /* Padding for better click area */
    background-color: #6f4e37; /* Set background to the new color */
    border-radius: 5px; /* Optional: Rounded corners */
    display: block;
}

.nav ul li a:hover {
    color: wheat; /* Hover color */
}

/* Dropdown Styles */
.nav .dropdown .dropbtn {
    background: #6f4e37; /* Set background to the new color */
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    color: white; /* Dropdown button text color */
    padding: 10px; /* Padding for better click area */
    border-radius: 5px; /* Optional: Rounded corners */
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
}

.nav .dropdown .dropbtn ion-icon {
    margin-left: 5px; /* Adjust the spacing between text and icon */
}

.nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: white; /* Set dropdown background to white */
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%; /* Position it below the dropdown button */
    border-radius: 5px; /* Optional: Rounded corners */
}

.nav .dropdown-content a {
    background-color: white; /* 设置选项的背景色为浅灰色 */
    color: black; 
    text-decoration: none;
    display: block;
    font-size: 14px;
    border-radius: 5px;
}

.nav .dropdown-content a:hover {
    background-color: #6f4e37; /* 设置选项鼠标悬停时的背景色为咖色 */
    color: wheat; /* 设置选项鼠标悬停时的字体颜色为深蓝色 */
}

.nav .dropdown-content a:focus,
.nav .dropdown-content a:active {
    background-color: #A0937D; /* 设置选项选中时的背景色为咖色 */
    color: wheat; /* 设置选项选中时的字体颜色为深蓝色 */
}

.nav .dropdown:hover .dropdown-content {
    display: block;
}

.nav .dropdown:hover .dropbtn {
    color: wheat; /* Hover color for dropbtn */
}

/* Additional Styles for Buttons and Layout */
.header-buttons {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes the buttons to the right */
}

.header-buttons button,
.notification-btn,
#login-btn,
.search-button {
    background-color: #6f4e37;
    color: white;
    border-radius: 5px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
}

.header-buttons button,
#login-btn {
    height: 45px;
}

.header-buttons button:hover,
.notification-btn:hover,
#login-btn:hover,
.search-button:hover {
    background-color: wheat;
    transition: background-color 0.3s ease;
}

.notification-container {
    position: relative;
    display: inline-block;
}

.notification-dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    right: 0;
}


.notification-btn img {
    max-width: 25px;
    max-height: 20px;
    align-items: center;
    filter: invert(100%);
}

.banner {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

.search-container {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding: 40px;
    background-color: rgba(242, 230, 178, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.search-box {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: space-between;
  }
  
  .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px; 
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5px; 
    margin-bottom: 20px;
    margin-right: -15px;
    flex: 1;
    background-color: #fff;
    font-size: 17px;
  }
  
  .search-button {
    font-size: 17px;
    padding: 10px 20px;
    background-color: #543310;
    color: white;
    border: none;
    border-top-left-radius: 0; 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0; 
    cursor: pointer;
  }

  .search-button:hover {
    background-color: wheat;
    transition: background-color 0.3s ease;
  }

.search-dropdown {
    position: relative;
    display: inline-block;
    width: 30%; /* Adjust as necessary */
}

.search-dropdown .dropbtn {
    padding: 10px;
    background-color: #543310;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.search-dropbtn ion-icon {
    margin-left: 5px;
}

.search-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    top: 100%;
    font-size: 17px;
}

.search-dropdown:hover .dropdown-content {
    display: block;
}

.search-dropdown .dropdown-content .residential-options, 
.search-dropdown .dropdown-content .bedroom-options,
.search-dropdown .dropdown-content .price-options {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}

.search-dropdown .dropdown-content .residential-option, 
.search-dropdown .dropdown-content .bedroom-option,
.search-dropdown .dropdown-content .price-option {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee4b1;
    color:black;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    font-size: 14px;
}

.search-dropdown .dropdown-content .residential-option:hover, 
.search-dropdown .dropdown-content .bedroom-option:hover,
.search-dropdown .dropdown-content .price-option:hover {
    background-color: #6f4e37;
    color: white;
}

.search-dropdown .dropdown-content .dropdown-actions {
    display: flex;
    justify-content: space-between;
}

.search-dropdown .dropdown-content .apply-button, 
.search-dropdown .dropdown-content .clear-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.search-dropdown .dropdown-content .apply-button {
    background-color: #6f4e37;
    color:white;
}

.search-dropdown .dropdown-content .clear-button {
    background-color: #eee4b1;
    color: black;
}

.search-dropdown .dropdown:hover .dropbtn {
    background-color: rgb(250, 200, 152);
}


.category {
    position: relative;
    padding: 50px;
    text-align: center;
    overflow: hidden;
    box-shadow: var(--block-shadow);
    background: #efe1d1; /* 背景颜色，确保内容可读 */
  }
    
  .category h1 {
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 25px;
    color: black;
    font-size: 60px;
    z-index: 1;
    text-shadow: 3px 4px 5px grey;
  }
  
  .category .category-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    z-index: 1;
  }
  
  .category .category-box .box {
    flex: 1;
    min-width: 200px;
    max-width: calc(25% - 20px);
    height: 200px;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 添加平滑过渡效果 */
  }
  
  .category .category-box .box:hover {
    transform: scale(1.05); /* 鼠标悬停时放大效果 */
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    background-size: 110%;
  }
  
  .category .category-box .hovertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-shadow: 3px 4px 5px #333;
  }
  
  .category .category-box .box:hover .hovertext {
    opacity: 1;
  }
  
  .category .category-box .hovertext {
    font-size: 25px; /* 调整字体大小 */
    padding: 10px 20px; /* 增加内边距 */
  }



.handpicked {
    position: relative;
    padding: 50px;
    text-align: center;
    overflow: hidden;
    background-color: #efe1d1;
}

.handpicked h1 {
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 25px;
    color: black;
    font-size: 60px; /* 增大标题字体大小 */
    z-index: 1;
    text-shadow: 3px 4px 5px grey;
}

.handpicked .handpicked-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.handpicked .card {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: calc(25% - 20px);
    min-width: 250px;
    display: flex;
    flex-direction: column;
}

.handpicked .card .image {
    background-size: cover;
    background-position: center;
    height: 200px;
    flex-shrink: 0;
}

.handpicked .card .details {
    padding: 15px;
    text-align: left;
}

.handpicked .card .price {
    font-size: 24px; /* 增大价格字体大小 */
    font-weight: bold;
    margin-bottom: 5px; /* 减少价格与Whole Unit之间的间距 */
}

.handpicked .card .unit-type {
    font-size: 18px; /* 设置 Whole Unit 的字体大小 */
    color: #666; /* 设置字体颜色 */
    margin-bottom: 10px; /* 增加与 info 部分的间距 */
}

.handpicked .card .info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px; /* 增大信息字体大小 */
}

.handpicked .card .info i {
    margin-left: 5px;
}

.handpicked .card .info span {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.handpicked .card .location {
    font-size: 22px; /* 增大位置字体大小 */
    font-weight: bold;
    margin-bottom: 5px;
}

.handpicked .card .address {
    font-size: 18px; /* 增大地址字体大小 */
    color: #666;
    margin-bottom: 15px;
}

.handpicked .card .button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px; 
    color: white;
    background-color: #543310;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.handpicked .card .button i {
    margin-right: 5px;
}

.handpicked .card .button:hover {
    background-color: wheat;
}
  
.footer {
    background-color: #fffefc;
    padding: 20px 0;
    font-family: 'Open Sans', sans-serif;
}

.footer h3 {
    font-size: 20px;
}

.footer a {
    font-size: 16px;
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer-box {
    flex: 1 1 calc(33.33% - 40px);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-box h3 {
    margin-bottom: 10px;
}

.footer-box a {
    display: block;
    margin-bottom: 5px;
}

.footer .list-inline-item {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer .list-inline-item li {
    margin-right: 15px;
}

.footer .list-inline-item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.footer .list-inline-item ion-icon {
    margin-right: 8px;
    font-size: 24px;
}


.footer .policy-and-copyright {
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

.footer .policy-links {
    float: left;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}

.footer .policy-links a {
    font-size: 14px;
    margin: 0 10px;
}

.footer .copyright {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.footer .footer-box a,
.footer .policy-links a,
.footer .list-inline-item a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer .footer-box a:hover,
.footer .policy-links a:hover,
.footer .list-inline-item a:hover {
    color: brown;
    margin-left: 5px;
    transition: margin 0.3s ease;
}


@media (max-width: 1200px) {
    .category .category-box .box {
      max-width: calc(33.333% - 20px); /* 三个盒子一行 */
    }
  }

@media screen and (max-width: 768px) {
    .header-box {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .header-buttons {
        margin-top: 10px;
        margin-left: 0;
    }
    
    .header-buttons button {
        margin-left: 0;
        margin-top: 5px;
    }
    
    .nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav ul li {
        margin: 10px 0;
    }

    .search-container {
        width: 90%; /* 在小屏幕上可以稍微放宽一些 */
    }

    .category .category-box .box {
        max-width: calc(50% - 20px); /* 两个盒子一行 */
      }
    
    .handpicked .handpicked-box .box {
        max-width: calc(50% - 20px);
    }

}



@media screen and (max-width: 480px) {

    .header-box {
        flex: 1 1 calc(100% - 40px);
    }

    .nav ul {
        justify-content: flex-start;
    } 

    .category .category-box .box {
        max-width: 100%; /* 一个盒子一行 */
      }

    .handpicked .handpicked-box .box {
        max-width: 100%; /* 一个盒子一行 */
    }

    .footer-box {
        flex: 1 1 calc(100% - 40px);
    }
}


/*notification button*/
/* Button style */
.notification-btn {
    position: relative; /* Ensure relative positioning for absolute child */
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}


.notification-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

/* Modal style */
.notification-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position to overlay entire screen */
    z-index: 999; /* Ensure modal is on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling if content exceeds viewport */
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
}

.closebutton {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.closebutton:hover,
.closebutton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.notification-modal-content {
    width: 360px;
	padding: 15px;
	background-color: white;
	border-radius: 16px;
	position: fixed;
	bottom: 15px;
	left: 15px;
}

/* Profile Button Styles */
.profile-btn {
    position: relative; /* Necessary for the dropdown */
    display: inline-block;
}

.profile-btn .dropbtn {
    background-color: #6f4e37; /* Set background to the new color */
    color: white; /* Text color */
    padding: 10px; /* Padding for better click area */
    font-size: 17px; /* Font size */
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Optional: Rounded corners */
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
    text-decoration: none; /* Remove underline from link */
}

.profile-btn .dropbtn .avatar {
    width: 30px; /* Adjust the size of the avatar */
    height: 30px;
    border-radius: 50%; /* Make the avatar round */
    margin-right: 10px; /* Space between the avatar and text */
}

.profile-btn .dropbtn ion-icon {
    margin-left: 5px; /* Adjust the spacing between text and icon */
}

.profile-btn .dropdown-content {
    display: none;
    position: absolute;
    background-color: white; /* Set dropdown background to white */
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%; /* Position it below the dropdown button */
    border-radius: 5px; /* Optional: Rounded corners */
}

.profile-btn .dropdown-content a {
    background-color: white; /* Option background color */
    color: black; /* Text color */
    text-decoration: none; /* Remove underline */
    display: block;
    font-size: 14px;
    padding: 10px; /* Padding for better click area */
    border-radius: 5px; /* Optional: Rounded corners */
}

.profile-btn .dropdown-content a:hover {
    background-color: #6f4e37; /* Option hover background color */
    color: wheat; /* Option hover text color */
}

.profile-btn .dropdown-content a:focus,
.profile-btn .dropdown-content a:active {
    background-color: #A0937D; /* Option active background color */
    color: wheat; /* Option active text color */
}

.profile-btn:hover .dropdown-content {
    display: block;
}

.profile-btn:hover .dropbtn {
    color: wheat; /* Hover color for dropbtn */
}

